@font-face {
  font-family: 'iconfont';  
  src: url('//at.alicdn.com/t/font_2614090_run2srbey9.woff2?t=1623996815734') format('woff2'),
       url('//at.alicdn.com/t/font_2614090_run2srbey9.woff?t=1623996815734') format('woff'),
       url('//at.alicdn.com/t/font_2614090_run2srbey9.ttf?t=1623996815734') format('truetype');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}


.icon-jiaoseguanli:before {
  content: "\e66d";
}

.icon-send:before {
  content: "\e668";
}

.icon-liulan1:before {
  content: "\e64c";
}

.icon-gengduo:before {
  content: "\e68e";
}

.icon-qiehuan:before {
  content: "\e656";
}

.icon-juji:before {
  content: "\e60a";
}

.icon-iconmingxinganlifanxiang:before {
  content: "\e653";
}

.icon-liulan:before {
  content: "\e638";
}

.icon-xihuan2:before {
  content: "\e63b";
}

.icon-zidingyibiaoti:before {
  content: "\e605";
}

.icon-liuyan-A:before {
  content: "\e61c";
}

.icon-yunshangchuan:before {
  content: "\e6aa";
}

.icon-shangchuan_huabanfuben:before {
  content: "\e635";
}

.icon-zidingyiquyu:before {
  content: "\e65b";
}

.icon-liuyanban-05:before {
  content: "\e630";
}

.icon-liuyan1:before {
  content: "\e601";
}

.icon-zidingyi:before {
  content: "\e69f";
}

.icon-qq:before {
  content: "\e62d";
}

.icon-shipinbofangyingpian2:before {
  content: "\e78e";
}

.icon-zixun:before {
  content: "\e646";
}

.icon-wufengpintu:before {
  content: "\e604";
}

.icon-liuyan:before {
  content: "\e655";
}

.icon-icon:before {
  content: "\e65c";
}

.icon-zcpt-wangzhanguanli:before {
  content: "\e6b5";
}

.icon-wechat-fill:before {
  content: "\e645";
}

.icon-pinglun:before {
  content: "\e8c5";
}

.icon-wangzhanguanliICO:before {
  content: "\e611";
}

.icon-zixun1:before {
  content: "\e641";
}

.icon-gengduobeifen:before {
  content: "\e627";
}

.icon-kongbaiwendang:before {
  content: "\e6c6";
}

.icon-zhibo1:before {
  content: "\e615";
}

.icon-zixun2:before {
  content: "\e60c";
}

.icon-dianshi:before {
  content: "\e64b";
}

.icon-pinglun1:before {
  content: "\e6b7";
}

.icon-shipindianshi:before {
  content: "\e6ca";
}

.icon-zixun3:before {
  content: "\e60e";
}

.icon-website_fill:before {
  content: "\e7bf";
}

.icon-mingxing:before {
  content: "\e600";
}

.icon-shangchuan:before {
  content: "\e71a";
}

.icon-wenben:before {
  content: "\e62f";
}

.icon-tv3:before {
  content: "\e799";
}

.icon-zhuanti:before {
  content: "\e629";
}

.icon-zhuantiweihu:before {
  content: "\e781";
}

.icon-shoucang:before {
  content: "\e622";
}

.icon-zhibo:before {
  content: "\e62a";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-tv4:before {
  content: "\e874";
}

.icon-yonghu-fuben:before {
  content: "\e62c";
}
